
.edit-profile-wrapper {
    padding: 30px;
  }
  .edit-profile-title {
    background: var(--gray-f6ff);
    border-radius: 12px 12px 0 0;
    padding: 15px 30px;
  }
  .edit-profile-title h4 {
    margin: 0;
    color: var(--primary);
    font-size: 18px;
    font-family: arial;
    font-weight: bold;
  }
  .associate-blk-title {
	color: var(--primary);
	font-size: 17px;
	border-bottom: .5px solid var(--gray-c4c4);
	padding-bottom: 15px;
	margin-bottom: 15px;
}
  .pf-lf-part p {
    font-size: 16px;
    color: var(--black-0202);
    margin: 0;
  }
  .customize-pf-g-wrap {
    display: grid;
    grid-template-columns: 190px auto;
    grid-gap: 20px;
  }
  .pf-lr-part.grid {
	display: grid;
	grid-template-columns: 90px auto;
	grid-gap: 15px;
	grid-row-gap: 10px;
}
  .upload-banner-img {
    border: .5px solid var(--gray-c4c4);
    border-radius: 12px;
    padding: 15px;
    background: var(--gray-f6ff);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .upload-banner-img p {
    margin: 0;
    color: var(--gray-c4c4);
    font-size: 13px;
    line-height: 1.2;
    margin-top: 10px;
  }
  .profile-avater.size-big .avater-image {
	width: 90px;
	height: 90px;
}

.profile-avater.size-big .upload img {
    width: 25px;
    height: 25px;
  }
  .profile-avater.size-big .upload {
    bottom: 0px;
    right: 2px;
    z-index: 1;
  }
  
.pf-lr-part.grid .restiction {
    grid-column: 1/3;
  }
  .pf-lr-part.grid .restiction p {
    color: var(--gray-7a7a);
    font-size: 13px;
    margin: 0;
  }
  .customize-profile .customize-pf-g-wrap:not(:last-child) {
	margin-bottom: 25px;
}
.customize-profile .customize-pf-g-wrap:not(:last-child) {
  margin-bottom: 25px;
}
.switch-para-wrap h6 {
  font-size: 16px;
  color: var(--black-0202);
  margin-bottom: 5px;
}
.switch-para-wrap p {
  font-size: 14px;
  color: var(--gray-7a7a);
  line-height: 1.3;
  margin: 0;
}
.switch-para-wrap {
  position: relative;
  padding-right: 45px;
}
.switch-para-wrap .toggle-switch {
  right: 0;
  top: 0;
}
.customize-cmn-wrapper .switch-para-wrap:not(:last-child) {
  margin-bottom: 24px;
}
.toggle-switch.size-2 label {
	width: 40px;
	background: var(--gray-c4c4);
}
.switch-para-wrap p a {
	color: var(--primary);
	text-decoration: none;
	transition: .3s;
}
.switch-para-wrap p a.underline {
	text-decoration: underline;
}
.customize-cmn-wrapper {
	margin-bottom: 24px;
}
.switch-para-wrap p.moderation-para {
	color: var(--black-0202);
	font-size: 16px;
}
.edit-profile-wrapper .edit-associate-blk-wrapper:not(:last-child) {
	margin-bottom: 24px;
}
.text-editor-wrapper{
  border: hidden;
}

.ql-container.ql-snow {
	border: 1px solid var(--white-f7);
	min-height: 108px;
	border-radius: 0 0 12px 12px;
}



/* Dark Mode Css Start */
.dark_mode .pf-lf-part p,
.dark_mode .switch-para-wrap h6,
.dark_mode .switch-para-wrap p.moderation-para {
    color: #fff;
}
.dark_mode .edit-profile-title,
.dark_mode .upload-banner-img {
	background: rgba(234, 240, 244, 0.141);
}
/* Dark Mode Css End */






/* Media Query */

@media screen and (max-width: 767px) {
    .edit-profile-wrapper {
        padding: 20px 16px;
    }
    .customize-pf-g-wrap {
        display: block;
    }
    .pf-lf-part {
        margin-bottom: 10px;
    }
    .edit-profile-title {
        padding: 15px 16px;
    }



}

